DEBUG=True
SECRET_KEY=defina sua chave sercreta
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
# Configurações do AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
INTERNAL_IPS=127.0.0.1
SENTRY_DSN=https://53527600370743b59ac5a2298f397cfc@o1047550.ingest.sentry.io/6024603

#Configuração de Email 
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER= 
EMAIL_HOST_PASSWORD=
EMAIL_HOST_TLS=True
